.main{
    display: flex;
}

input[type=button]{
        background-color:crimson;
        padding: 10px;
        border-radius: 4px;
        border: none;
        margin: 5px;
        color: whitesmoke;
}

.canvasContainer{
    border: 1px solid #d3d3d3;
    width: 700px;
    height: 500px;
}